<link rel="stylesheet" type="text/css" href="ascii-hug.css">

<template id="hug-template">
    <div id="ascii-hug">
        <div class="right-hand">></div>
        <div class="right-arm">-</div>
        <div class="face left">^_^</div>
        <div class="left-arm">-</div>
        <div class="left-hand"><</div>
    </div>
</template>

<script>
    // thisDoc refers to the "importee", which is ascii-hug.html
    var thisDoc = document.currentScript.ownerDocument;

    // thatDoc refers to the "importer", which is index.html
    var mainDoc = document;

    var proto = Object.create(HTMLElement.prototype);
    proto.createdCallback = function() {
        var shadowRoot = this.createShadowRoot();

        var template = thisDoc.querySelector('#hug-template');
        var clone = thisDoc.importNode(template.content, true);

        shadowRoot.appendChild(clone);
    };

    mainDoc.registerElement('ascii-hug', {
        prototype: proto
    });
</script>

